@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground text-base;
    }
}

@layer components {
    input,
    select,
    textarea {
        @apply border-neutral-700 !important;
    }

    input:not([type="file"]),
    input:not([type="image"]),
    input:not([type="checkbox"]),
    input:not([type="radio"]) {
        @apply rounded-none leading-6 min-h-12 text-base font-light focus:ring-offset-0 focus:ring-neutral-700 tracking-wider;
    }

    textarea {
        @apply rounded-none leading-6 min-h-12 text-base font-light focus:ring-offset-0 focus:ring-neutral-700 tracking-wider !important;
    }

    input:disabled {
        @apply bg-zinc-200;
    }

    button:not(:where([type="button"], [role="radio"])) {
        @apply min-h-12 min-w-12 rounded-none text-base tracking-wider uppercase !important;
    }

    button[type="button"][role="radio"]:not([role="gridcell"]),
    button[type="button"][role="combobox"],
    button[type="button"],
    button[type="submit"] {
        @apply min-h-12 data-[state=on]:bg-neutral-800 data-[state=on]:text-white rounded-none border uppercase !important;
    }

    button[type="button"][role="radio"]:not([role="gridcell"]),
    button[type="button"][role="combobox"] {
        @apply border-neutral-700 !important;
    }

    button[type="button"][role="gridcell"] {
        @apply rounded-none;
    }

    div[data-radix-popper-content-wrapper] {
        @apply -top-[7px] !important;
    }
}
